<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2012-2014 Erwin Müller <erwin.mueller@deventm.org>

    This file is part of sscontrol-workers-command.

    sscontrol-workers-command is free software: you can redistribute it and/or modify it
    under the terms of the GNU Affero General Public License as published by the
    Free Software Foundation, either version 3 of the License, or (at your
    option) any later version.

    sscontrol-workers-command is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License
    for more details.

    You should have received a copy of the GNU Affero General Public License
    along with sscontrol-workers-command. If not, see <http://www.gnu.org/licenses/>.

-->
<configuration scan="true">

	<property resource="logback.properties"/>

	<appender name="TEST_STYLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>[%level] %-4relative [%thread] %logger{0} - %msg %n%rEx{short}</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="TEST_STYLE" />
	</root>

    <logger name="com.anrisoftware" level="INFO" />
	<logger name="com.anrisoftware.sscontrol" level="ALL" />

</configuration>
